{%include 'header.html'%}
    <div class="container">
        <div class="heading">
            <h3>Photo <span>Gallery</span></h3>
        </div>
    </div>
    <div class="container">
        {%if logged_in%}
            {%for item in items%}
            {% if loop.index0 % 4 == 0 %}
            <div class="box">
            {% endif %}
                <div class="dream">
                    <img src={{item.address}}>
                </div> 
            {% if loop.index0 % 4 == 3 or loop.last %}
            </div>
            {% endif %}
            {%endfor%}     
        {%else%}
            <div class="box">
                Login to view your items
            </div>
        {%endif%}
    </div>
{%include 'footer.html'%}